@import (less) '~slick-carousel/slick/slick.css';
@import (less) '~slick-carousel/slick/slick-theme.css';

.block.carousel {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw !important;
  // max-width: initial !important;
  margin-right: -50vw !important;
  margin-left: -50vw !important;
  margin-top: 30px;
  padding-top: 60px;

  .headline{
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'UniversCn', Arial, sans-serif;
  }

  .slick-slider.slick-initialized{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 50vw;
    display: flex;
    align-items: center;
  }
  &:not(.inner):not([role='presentation']) {
    padding-bottom: 2em;
  }

  .grid-teaser-item.top a{
    flex-grow: 1;
    // margin-left: 25px;
    // margin-right: 25px;
  }

  .slick-arrow {
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
    transform: initial;
    z-index: 4;
    top: 55%;
    svg{
      z-index: 6;
    }
  }

  .slick-prev {
    left: 7%;
  }

  .slick-next {
    right: 7%;
  }

  .slick-prev:before,
  .slick-next:before {
    content: '';
  }

  .slick-slide {
    padding: 0 10px;
  }
  .grid-teaser-item.top{
    height: 50vw !important;
  }
  .grid-image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    img {
      object-fit: scale-down ;
      width: 100%;
      aspect-ratio: initial;
    }
  }

  .grid-teaser-item{
    justify-items: center;
    transition: all 0.9s ease-in-out;
    position: relative;
    .title-wrapper{
      position: absolute;
      bottom: 0%;
      left: 0%;

      padding-bottom:  30px;
      padding-left: 25px;

      h3,
      p {
        display: none;
        color: white;
        text-transform: none !important;
        font-size: 1.2rem;
      }
    }

  }
  .grid-teaser-item:hover {
    h3, p:hover {
      display: block !important;
    }
  }


  .toolbar-inner input {
    max-width: 80px;
  }
}

@media screen and (max-width:992px) {
  #page-document {
    .grid-teaser-item.top,
    .slick-slider.slick-initialized {
      height: 70vw !important;
    }
  }
}

@media screen and (max-width:767px) {
  #page-document{
    .grid-teaser-item.top,
      .slick-slider.slick-initialized {
        height: 130vw !important;
      }
  }
}
