@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

.masonry-grid {
  display: flex;
  width: auto;
  margin-left: -30px;
}

.masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 30px;
}

.artwork-card {
  .card-title-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0.5em;
    gap: 25px;
  }

  .artwork-creation {
    flex-shrink: 0;
    font-size: @mediumFontSize;
  }

  .listing-card.artwork-card {
    height: auto;

    .image-wrapper {
      margin-bottom: 0.8em;
    }
  }

  .artwork-title {
    margin-bottom: 0.5em;
  }

  .author-name {
    font-size: 12px;
  }
}

.block.search {
  .search-input {
    .divider {
      display: none;
    }

    .ui.input {
      border-bottom: 1px solid var(--text-color);
      color: var(--text-color);
      font-size: @extraFontSize;

      input,
      input:active,
      input:focus {
        border: none;
        background-color: transparent;
        color: var(--text-color) !important;

        &::placeholder {
          color: var(--text-color) !important;
          opacity: 0.5;
        }
      }
    }
  }
}
